body{
background-color: #F8C471 ;
background-image: linear-gradient(335deg, #8E4403      23px, transparent 23px),
linear-gradient(155deg, #432306     23px, transparent 23px),
linear-gradient(335deg, #8E4403         23px, transparent 23px),
linear-gradient(155deg,#432306  23px, transparent 23px);
background-size: 58px 58px;
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;

}

.center {
  margin: 50px auto;
  width: 100%;

  padding: 10px;
}

table{  
margin: 100px auto;
box-shadow: 10px 10px 20px;
border-collapse:collapse;
border:2px solid black;	
}




.Saturday{
	color:#21618C  ;
	background:#AED6F1;
	border: 1px solid black;
	height: 50px; 
	min-width: 100px;
	text-align: center; 
	transition:background 1s;
	transition:color 2s;
}

			
.Sunday{
	color:#76448A;
	background: #EBDEF0;
	border: 1px solid black;
	height: 50px; 
	min-width: 100px;
	text-align: center; 
	transition:background 1s;
	transition:color 2s;
}

.Monday{
	color:#21618C  ;
	background:#AED6F1;
	border: 1px solid black;
	height: 50px;
	min-width: 100px;
	text-align: center;
	transition:background 1s;
	transition:color 2s;
}

.Tuesday{
	color:#76448A;
	background: #EBDEF0;
	border: 1px solid black;
	height: 50px; 
	min-width: 100px;
	text-align: center; 
	transition:background 1s;
	transition:color 2s;
}

.Wednesday{
	color:#21618C  ;
	background:#AED6F1;
	border: 1px solid black;
	height: 50px;
	min-width: 100px;
	text-align: center; 
	transition:background 1s;
	transition:color 2s;
}

.Thrusday{
	color:#76448A;
	background: #EBDEF0;
	border: 1px solid black;
	height: 50px; 
	min-width: 100px;
	text-align: center; 
	transition:background 1s;
	transition:color 2s;
}
#S{
	color:#21618C  ;
	background:#AED6F1;
	
}
#Su{
   color:#76448A;
	background: #E8DAEF     ;
	
}
#M{
	
	color:#21618C  ;
	background:#AED6F1;

}
#Tu{
	color:#76448A;
	background: #EBDEF0;
}

#We{
	color:#21618C  ;
	background:#AED6F1;
}
#Th{
	color:#76448A;
	background: #EBDEF0;	
}

.Saturday:hover{
	color:#AED6F1  ;
	background:#21618C;
}
.Sunday:hover{
	color:#EBDEF0 ;
	background: #AF7AC5    ;
}
	
.Monday:hover{
	color:#AED6F1  ;
	background:#21618C;
}
.Tuesday:hover{
	color:#EBDEF0 ;
	background: #AF7AC5    ;
}
.Wednesday:hover{
	color:#AED6F1  ;
	background:#21618C;
}
.Thrusday:hover{
	color:#EBDEF0 ;
	background: #AF7AC5    ;
}

